@keyframes ldio-xc41ddp9usf {
    0% { transform: translate(-50%,-50%) rotate(0deg); }
    100% { transform: translate(-50%,-50%) rotate(360deg); }
  }
  .ldio-xc41ddp9usf div {
    position: absolute;
    width: 120px;
    height: 120px;
    border: 20px solid #1c4595;
    border-top-color: transparent;
    border-radius: 50%;
  }
  .ldio-xc41ddp9usf div {
    animation: ldio-xc41ddp9usf 1s linear infinite;
    top: 100px;
    left: 100px
  }
  .loadingio-spinner-rolling-zhnljvywc {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: transparent;
    margin: 0 auto
  }
  .ldio-xc41ddp9usf {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-xc41ddp9usf div { box-sizing: content-box; }